#About {
  padding: 70px;
  font-family: Arial;
  background: #f6f6f6;
  border-radius: 30px;
  .about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .text {
      display: flex;
      flex-direction: column;
      gap: 40px;
      h1 {
        font-family: Bebas Neue;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
      }
      h2 {
        display: flex;
        .span {
          font-family: Arial;
          font-size: 24px;
          font-weight: 700;
          line-height: 27.54px;
          background: #dd9700;
          transform: rotate(-5deg);
          padding: 7px;
          border-radius: 20px;
          color: #f6f6f6;
        }
        .span2 {
          font-family: Arial;
          font-size: 24px;
          font-weight: 700;
          line-height: 27.54px;
          background: #dd9700;
          transform: rotate(5deg);
          padding: 7px;
          border-radius: 20px;
          color: #f6f6f6;
        }
      }
    }
    .block {
      display: flex;
      justify-content: space-between;
      .box {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 300px;
        padding: 1px;
        gap: 10px;
        img {
          border-radius: 20px;
        }
        h2 {
          font-family: Arial;
          font-size: 20px;
          font-weight: 700;
          line-height: 22.95px;
          color: #151515;
        }
        p {
          color: #151515;
          font-family: Arial;
          font-size: 18px;
          font-weight: 400;
          line-height: 20.65px;
        }
      }
    }
  }
}
