#About {
  padding: 70px;
  margin: 0px 100px;
  font-family: Arial;
  background: #f6f6f6;
  border-radius: 30px;
  .about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .text {
      display: flex;
      flex-direction: column;
      gap: 40px;
      h1 {
        font-family: Bebas Neue;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
      }
      h2 {
        display: flex;
        .span {
          font-family: Arial;
          font-size: 24px;
          font-weight: 700;
          line-height: 27.54px;
          background: #dd9700;
          transform: rotate(-5deg);
          padding: 7px;
          border-radius: 20px;
          color: #f6f6f6;
        }
        .span2 {
          font-family: Arial;
          font-size: 24px;
          font-weight: 700;
          line-height: 27.54px;
          background: #dd9700;
          transform: rotate(5deg);
          padding: 7px;
          border-radius: 20px;
          color: #f6f6f6;
        }
      }
    }
    .block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 5px;
      .box {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 270px;
        gap: 10px;
        .images {
          width: 100%;
          height: 250px;
          overflow: hidden;
          border-radius: 20px;
          img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
            filter: grayscale(100%);

            &:hover {
              transform: scale(1.1);
              transition: 0.3s;
            }
          }
        }
        h2 {
          font-family: Arial;
          font-size: 20px;
          font-weight: 700;
          line-height: 22.95px;
          color: #151515;
        }
        p {
          color: #151515;
          font-family: Arial;
          font-size: 18px;
          font-weight: 400;
          line-height: 20.65px;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  #About {
    padding: 70px;
    margin: 0px 100px;
    font-family: Arial;
    background: #f6f6f6;
    border-radius: 30px;
    .about {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .text {
        display: flex;
        flex-direction: column;
        gap: 40px;
        h1 {
          font-family: Bebas Neue;
          font-size: 50px;
          font-weight: 700;
          line-height: 50px;
        }
        h2 {
          display: flex;
          .span {
            font-family: Arial;
            font-size: 24px;
            font-weight: 700;
            line-height: 27.54px;
            background: #dd9700;
            transform: rotate(-5deg);
            padding: 7px;
            border-radius: 20px;
            color: #f6f6f6;
          }
          .span2 {
            font-family: Arial;
            font-size: 24px;
            font-weight: 700;
            line-height: 27.54px;
            background: #dd9700;
            transform: rotate(5deg);
            padding: 7px;
            border-radius: 20px;
            color: #f6f6f6;
          }
        }
      }
      .block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // gap: 4px ;
        .box {
          display: flex;
          flex-direction: column;
          text-align: start;
          width: 260px;
          padding: 4px;
          gap: 10px;
          .images {
            width: 100%;
            height: 250px;
            overflow: hidden;
            img {
              border-radius: 20px;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transform: scale(1.05);
              transition: 1s;

              &:hover {
                transform: scale(1.1);
                transition: 1s;
              }
            }
          }
          h2 {
            font-family: Arial;
            font-size: 20px;
            font-weight: 700;
            line-height: 22.95px;
            color: #151515;
          }
          p {
            color: #151515;
            font-family: Arial;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.65px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #About {
    padding: 20px 0;
    margin: 0px;
    font-family: Arial;
    background: #f6f6f6;
    border-radius: 20px;
    .about {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .text {
        // display: none;
        flex-direction: column;
        gap: 40px;
        h1 {
          font-family: Bebas Neue;
          font-size: 40px;
          font-weight: 700;
          line-height: 30px;
        }
        h2 {
          display: flex;
          flex-wrap: wrap;
          font-size: 20px;

          .span {
            font-family: Arial;
            font-size: 20px;
            font-weight: 700;
            line-height: 20.54px;
            background: #dd9700;
            transform: rotate(-0deg);
            margin-left: 4px;
            padding: 4px;
            border-radius: 20px;
            color: #f6f6f6;
          }
          .span2 {
            font-family: Arial;
            font-size: 20px;
            font-weight: 700;
            line-height: 20.54px;
            background: #dd9700;
            transform: rotate(0deg);
            margin-left: 4px;
            padding: 4px;
            border-radius: 20px;
            color: #f6f6f6;
          }
        }
      }
      .block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
        .box {
          display: flex;
          flex-direction: column;
          text-align: start;
          width: 100%;
          padding: 0px;
          gap: 10px;
          .images {
            width: 100%;
            height: 250px;
            overflow: hidden;
            img {
              border-radius: 10px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          h2 {
            font-family: Arial;
            font-size: 20px;
            font-weight: 700;
            line-height: 22.95px;
            color: #151515;
          }
          p {
            color: #151515;
            font-family: Arial;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.65px;
          }
        }
      }
    }
  }
}
