.burger_menu {
  position: absolute;
  top: 89px;
  right: -300px;
  width: 270px;
  height: 270px;
  // padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;

  background: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  border: solid rgb(31, 31, 31) 4px;

  transition: 0.5s;
  color: white;

  &.active {
    right: 0px;
    padding: 20px;
    color: white;
  }
}

.content {
  display: flex;

  color: white;

  .nav {
    color: white;
    display: flex;
    flex-direction: column;

    gap: 30px;
    text-align: start;

    a {
      // background: red;
      text-decoration: none;
      font-size: 20px;
      color: white;
    }
    select {
      background: #000000bd;
      width: 100%;
      border-radius: 10px;
      color: #ffffff;
      border: solid #dd9700 3px;
      font-size: 18px;
      outline: none;
      transition: all 0.3s;

      &:hover {
        transition: all 0.3s;
        background: #dd9700;
        color: #000;
      }

      option {
        text-align: center;
        background: #000000;
        color: #ffffff;
        font-size: 16px;
        border: none;

        &:checked {
          background: #dd9700; // Цвет выбранной опции
        }
      }
    }
  }
}
